{% load wagtailuserbar %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body, html {
            margin: 0; padding: 0; height: 100%; overflow: hidden;
        }
    </style>
</head>
<body>
    <iframe id="preview-iframe" title="Headless preview" src="{{ preview_url }}" width="100%" height="100%" style="border: none;"></iframe>
    <div hidden>{% wagtailuserbar %}</div>
    <script>
    axe.configure({ allowedOrigins: ['<unsafe_all_origins>'] });
    </script>
</body>
</html>
